@model CompanyAddedViewModel

<h1>Your company was successfully added!</h1>

<h5>Some stats:</h5>

<div>Chars in Name: @Model.NumberOfCharsInName</div>
<div>Chars in Descryption: @Model.NumberOfCharsInDescryption</div> 
<div>Is the comapny currently hidden: @(Model.IsHidden ? "yes" : "no")</div>